html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #333333;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

a {
  color: #738678;
  text-decoration: none;
}
a:hover {
  color: #4d5b50;
}

.o-wave {
  display: block;
  width: 100%;
  overflow: hidden;
  transform: translateY(1px);
  z-index: 20;
}
.o-wave__wave {
  width: 100%;
  display: block;
  transition: transform 2s ease-out;
  z-index: 20;
}
.o-wave.is-visible .o-wave__wave {
  transform: translateX(-50%);
}
.is-flipped .o-wave__wave {
  transform: rotate(180deg);
}
.o-wave.is-visible.is-flipped .o-wave__wave {
  transform: rotate(180deg) translateX(50%);
}

.product-thumbnail {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
  max-width: 350px;
  border: 1px solid black;
}
.product-thumbnail:hover {
  transform: translateY(-5px);
}
.product-thumbnail__link {
  color: inherit;
  text-decoration: none;
}
.product-thumbnail__image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}
.product-thumbnail__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}
.product-thumbnail__image--hover {
  opacity: 0;
}
.product-thumbnail:hover .product-thumbnail__image--hover {
  opacity: 1;
}
.product-thumbnail:hover .product-thumbnail__image--primary {
  opacity: 0;
}
.product-thumbnail__info {
  padding: 10px;
  background-color: #ffffff;
}
.product-thumbnail__title {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #000000;
  min-height: 57px;
}
.product-thumbnail__pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.product-thumbnail__pricing .product-thumbnail__price {
  font-weight: bold;
  color: #000000;
}
.product-thumbnail__pricing .product-thumbnail__compare {
  text-decoration: line-through;
  color: #999999;
  font-size: 0.875rem;
}
.product-thumbnail__form {
  padding: 1rem;
}
.product-thumbnail__button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
.product-thumbnail__button:hover {
  background-color: #4d5b50;
}

.bundles {
  padding: 2rem;
  background-color: #4d5b50;
}
.bundles__inner {
  max-width: 1400px;
  margin: 0 auto;
}
.bundles__heading {
  text-align: right;
  font-size: 32px;
  color: #ffffff;
  font-family: "Merriweather", serif;
}
.bundles__slide {
  width: 100%;
  display: flex;
  justify-content: center;
}
.bundles__collection {
  display: grid;
  grid-template-columns: minmax(400px, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
}
.bundles__collection .product-thumbnail__image-wrapper {
  padding-top: 67%;
}
.bundles__collection .product-thumbnail {
  width: 100%;
}
@media (min-width: 769px) {
  .bundles {
    padding: 2rem 2rem 6rem 2rem;
  }
  .bundles__collection {
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 0;
  }
  .bundles__heading {
    font-size: 3rem;
  }
}
