// Brand Colors
$color-red: #d83c36;
$color-white: #ffffff;
$color-black: #000000;
$color-grey-light: #f7f5f2;
$color-grey-dark: hsl(0, 0%, 20%);

$color-primary: #d83c36;
$color-primary-dark: #b22f2a;
$color-primary-light: #f25a53;

$color-neutral-100: #ffffff;
$color-neutral-200: #f8f8f8;
$color-neutral-500: #999999;
$color-neutral-800: #333333;
$color-neutral-900: #000000;

// Typography
$font-base: 'Inter',
sans-serif;
$font-heading: 'Montserrat',
sans-serif;

// Spacing
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 4rem;

// Border radius
$radius-sm: 4px;
$radius-md: 8px;